body {
    background-image: url("background.jpg");
    color: yellow;
}

#text {
    font-style: oblique;
    font-size: 45px;
}

a {
    position:absolute;
    top:%;
    left:285;
    font-family: "Times New Roman", Times, serif;
    font-size: 50;
    font
    
}