#titles
{
  position: absolute;
  	width: 18em;
  	height: 50em;
  	bottom: 0;
  	left: 50%;
  	margin-left: -9em;
    font-size: 350%;
  	font-weight: bold;
  	text-align: justify;
  	overflow: hidden;
  	transform-origin: 50% 100%;
  	transform: perspective(300px) rotateX(25deg);
  }
#titles:after
{
	position: absolute;
	content: ' ';
	left: 0;
	right: 0;
	top: 0;
	bottom: 60%;
	background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	pointer-events: none;
}
#titlecontent
{
  color: yellow ;
  font-family: "Droid Sans", arial, verdana, sans-serif;
	position: absolute;
	top: 100%;
	animation: scroll 100s linear 4s infinite;
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}
body { 
	background: url(http://orig15.deviantart.net/4af7/f/2012/224/3/6/galaxy_wallpaper_by_alexandruiuilian-d5asktm.jpg) no-repeat fixed center; 
}

a {
    position:absolute;
    top:1%;
    left:0;
    font-family: "Times New Roman", Times, serif;
    font-size: 50;
    font
    
}